html {
	position:  relative;
} 

body {
	margin-bottom: 100px;
}

.jumbotron img {
	width: 200 px
	border: 5px solid #333;

}


hr {
	width: 250px;
	border-top: 4px solid #333;
}


section {
	min-height:  600px
}


.portfolio {
	background-color: #eee;
}

.contact {
	min-height: 800px
}

footer {
	position: absolute;
	bottom: 0;
	width: 100px;
	height: 100px;
	background-color: ;
	color: #999;
	
} 



















